body {
	margin: 0px;
	font-family: 'Yoon Gothic', 'Nanum Gothic', '나눔고딕';
	font-weight: 400;
	font-size: 13pt;
	background-color: #ffffff;
	color: #424242;
	overflow-y: scroll;
}
a {
	text-decoration: none;
	color: #11abde;
}
a:hover {
	color: #0089bc;
}
a:active {
	color: #22bcef;
}
img {
max-width: 100%;
}
.container {
}
.warn {
	display: none;
}
.thumbnail {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.navbar {
	z-index: 1;
	top: 0px;
	left: 0px;
	width: 100%;
	background: #777777;
}
.nav {
	position: relative;
	margin: 0px auto;
	font-size: 32px;
}
.logo {
	border-style: hidden;
	height: 32px;
	cursor: pointer;
	vertical-align: middle;
	padding: 4px 20px 4px 0px;
}
.menu {
	font-size: 22px;
	cursor: pointer;
}
.document {
	position: relative;
	z-index: 0;
	min-height: 500px;
}
.footer {
	position: absolute;
	background-color: #444444;
	color: #ffffff;
	font-size: 14px;
	font-weight: 200;
	width: 100%;
	text-align: center;
	padding: 15px 0px 16px;
}