@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url('/webCore/fonts/NanumGothic.eot');
	src: url('/webCore/fonts/NanumGothic.woff') format('woff');
}
@font-face {
	font-family: 'Yoon Gothic';
	font-style: normal;
	font-weight: 100;
	src: url('/webCore/fonts/YoonGothic-709.woff') format('woff');
}
@font-face {
	font-family: 'Yoon Gothic';
	font-style: normal;
	font-weight: 200;
	src: url('/webCore/fonts/YoonGothic-720.woff') format('woff');
}
@font-face {
	font-family: 'Yoon Gothic';
	font-style: normal;
	font-weight: 400;
	src: url('/webCore/fonts/YoonGothic-750.woff') format('woff');
}
@font-face {
	font-family: 'Yoon Gothic';
	font-style: normal;
	font-weight: 500;
	src: url('/webCore/fonts/YoonGothic-760.woff') format('woff');
}
@font-face {
	font-family: 'Yoon Gothic';
	font-style: normal;
	font-weight: 600;
	src: url('/webCore/fonts/YoonGothic-774.woff') format('woff');
}
@font-face {
	font-family: 'Yoon Gothic';
	font-style: normal;
	font-weight: 700;
	src: url('/webCore/fonts/YoonGothic-790.woff') format('woff');
}
