.pace {
	pointer-events: none;
		-webkit-pointer-events: none;
		-webkit-user-select: none;
		-moz-user-select: none;
	user-select: none;
}
.pace-inactive {
	display: none;
}
.pace .pace-activity {
	display: block;
	position: fixed;
	z-index: 100;
	top: 12px;
	right: 12px;
	width: 14px;
	height: 14px;
	border: solid 2px transparent;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	border-radius: 14px;
	animation: pace-spinner 500ms linear infinite;
		-webkit-animation: pace-spinner 500ms linear infinite;
		-moz-animation: pace-spinner 500ms linear infinite;
		-ms-animation: pace-spinner 500ms linear infinite;
		-o-animation: pace-spinner 500ms linear infinite;
}
@-webkit-keyframes pace-spinner {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
	0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
	0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
	0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
	0% { transform: rotate(0deg); transform: rotate(0deg); }
	100% { transform: rotate(360deg); transform: rotate(360deg); }
}