.navbar {
	position: fixed;
}
.nav {
	width: 1000px;
}
.menu {
	padding: 0px 12px;
	color: #ffffff;
}
.mobilemenubtn {
	display: none;
}
.mobilemenupanel {
	display: none;
}
.document {
	width: 1000px;
	padding: 5px;
	margin: 60px auto 30px;
}
.document .doc_mobileview {
	display: none;
}